<div class="d-flex mb-2">
  <div id="building" class="border border-3 rounded-pill d-print-none"><i class="bi-building"></i></div>
  <div class="ms-2 d-flex align-items-center">
    <div class="fs-4">WORK EXPERIENCE</div>
  </div>
</div>

{{#each experiences}}
  <div class="d-flex">
    <div class="pill d-print-none"><i class="bi-circle-fill"></i></div>
    <div class="d-flex flex-grow-1">
      <div class="fs-5">{{ title }}</div>
      <div class="d-flex flex-grow-1 justify-content-end align-items-center">
        <div class="ms-3"><i class="bi-briefcase-fill"></i> {{ company }}</div>
        <div class="ms-3"><i class="bi-calendar3"></i> {{ from }} - {{ to }}</div>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="side d-print-none"></div>
    <div>
      <div class="mb-5">{{ description }}</div>
    </div>
  </div>
{{/each}}
