 <div id="header" class="d-flex flex-column align-items-center mb-3 text-white">
  <h1 class="mb-0">{{ name }}</h1>
  <div class="mb-3">{{ title }}</div>
  {{#with contacts}}
    <div class="d-flex justify-content-center">
      <div class="p-2">
        <a href="{{ github }}" target="_blank">
          <i class="bi-github"></i>
          Github
        </a>
      </div>
      <div class="p-2">
        <a href="{{ linkedin }}" target="_blank">
          <i class="bi-linkedin"></i>
          Linkedin
        </a>
      </div>
      <div class="p-2">
        <i class="bi-geo-alt-fill"></i>
        {{ location }}
      </div>
      <div class="p-2">
        <i class="bi-globe2"></i>
        {{ country }}
      </div>
      <div class="p-2">
        <a href="mailto:{{ email }}">
          <i class="bi-envelope-fill"></i>
          {{ email }}
        </a>
      </div>
    </div>
  {{/with}}
</div>
